.topbar {
  box-sizing: border-box;
  margin-top: 40px;
  width: 98vw;
  height: 30px;
  background-color: rgb(252, 119, 31);
  border-radius: 10px;
  overflow: hidden;
}
li {
  display: inline-block;
  padding: 2px;
  margin: 5px;
  color: white;
  transition: color 0.3s ease, transform 0, 2s ease, background-color 0.3s ease;
}
li:hover {
  color: black;
  transform: scale(1.15);
  background-color: rgb(248, 145, 76);
}
.maincontent {
  position: relative;
  box-sizing: border-box;
  top: 100px;
  width: 98vw;
  background-color: rgb(165, 154, 154);
  border-radius: 10px;
  overflow: hidden;
  height: 78vh;
}
.one {
  /* display: inline-block; */
  position: absolute;
  box-sizing: border-box;
  top: 5px;
  left: 5px;
  width: 70px;
  height: 40px;
  text-align: center;
  padding: 20px;
  background-color: rgb(50, 106, 228);
  border-radius: 10px;
  overflow: hidden;
}
.two {
  /* display: inline-block; */
  position: absolute;
  box-sizing: border-box;
  top: 20px;
  right: 5px;
  width: 70px;
  height: 40px;
  text-align: center;
  padding: 20px;
  background-color: rgb(32, 125, 211);
  border-radius: 10px;
  overflow: hidden;
}
.phone {
  position: absolute;
  display: flex;
  bottom: 10px;
  right: 5px;
  width: 40px;
  height: 40px;
  border-radius: 60%;
  background-color: green;
  justify-content: center;
  align-items: center;
}
