/* file này chứa những cái dùng chung */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
/* Bước 1 phần tích các mã màu chính và font cho vào root để làm biến */
/* Bước 2 Phân tích các block xem block nào nằm chung với nhau , xem cái nào tách lẻ  */
:root {
  --primary-color: rgb(26, 26, 201);
  --secondary-color: rgb(235, 221, 27);
  --fontext-1: "Open Sans", sans-serif;
}
html {
  font-size: 10px;
}
body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: var(--fontext-1);
}
ul {
  list-style-type: none;
}
