.parent {
    display:flex;
    margin-right:2rem;
}
.one{
    background-color:yellow;
    width:7rem;
}
.two{
    background-color:red;
    width:7rem;
}
.three{
    background:blue;
    width:7rem;
}
.parent div {
     margin-right:2rem;
     background:yellow;
     height:5rem;
}
