html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
/* khai báo */
:root {
  --maincolor: rgb(71, 211, 71);
  --colortextactive: rgb(151, 16, 151);
}
h1 {
  background-color: bisque;
  width: 20rem;
  height: 10rem;
  transition: background-color 0.3s ease, transform 0.3s ease, color 0.01s;
}
/* Cách sử dụng  */
h1:hover {
  transform: scale(1.1);
  background-color: var(--maincolor);
}
h1:active {
  transform: scale(1);
  color: var(--colortextactive);
}
